<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="__STATIC__/css/receptioncss/public.css" type="text/css">
</head>
<body>
<!--导航栏-->
<div id="nav">
    <div class="nav_box container">
        <div class="row">
            <a class="nav_logo col-lg-2 col-md-2 col-sm-2 col-xs-4" href="#"></a>
            <ul class="nav_list col-lg-8 col-md-8 col-sm-7">
                <li><a class="nav_index" href="">首页</a></li>
                <li><a href="{:url('reception/index/viewport')}">目的地</a></li>
                <li><a href="">旅游游记</a></li>
                <li><a href="">商品活动</a></li>
                <li><a href="">酒店</a></li>
                <li><a href="">卖家入驻</a></li>
            </ul>
            <ul class="nav_out col-lg-2 col-md-2 col-sm-3 col-xs-8">

                <li><a class="nav_qq" href=""></a></li>
                <li><a class="nav_weixin" href=""></a></li>
                <li><a class="nav_login" href="">登录</a></li>
                <li>
                    <span class="nav_division">|</span>
                </li>
                <li><a class="nav_register" href="">注册</a></li>
            </ul>
        </div>
    </div>
</div>
<!--轮播图-->
<div id="banner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="https://p3-q.mafengwo.net/s3/M00/12/1B/wKgIDVo7B_aAOM9_AARCyW7Z6k481.jpeg?imageMogr2%2Finterlace%2F1" alt="First slide">
            </div>
            <div class="item">
                <img src="https://b2-q.mafengwo.net/s10/M00/AC/98/wKgBZ1o868GAVxZWAAX6nnMkpWo60.jpeg?imageMogr2%2Finterlace%2F1" alt="Second slide">
            </div>
            <div class="item">
                <img src="https://p3-q.mafengwo.net/s10/M00/33/64/wKgBZ1o489uAdu4IAAg_av9sd0o19.jpeg?imageMogr2%2Finterlace%2F1" alt="Third slide">
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev" role="button">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next" role="button">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

<!--小屏幕下的导航栏-->
<div id="nav_small">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <i class="ns_index"></i>
                <p>首页</p>
            </div>
            <div class="col-xs-4">
                <i class="ns_place"></i>
                <p>目的地</p>
            </div>
            <div class="col-xs-4">
                <i class="ns_travels"></i>
                <p>旅游游记</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <i class="ns_activity"></i>
                <p>商品活动</p>
            </div>
            <div class="col-xs-4">
                <i class="ns_hotel"></i>
                <p>酒店</p>
            </div>
            <div class="col-xs-4">
                <i class="ns_settled"></i>
                <p>卖家入驻</p>
            </div>
        </div>
    </div>
</div>

<!--页面主体-->
<div id="content"></div>

<!--页脚-->
<div id="footer">
    <div class="footer_box container">
        <div class="foot_list row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 foot_hidden">
                <ul>
                    <li class="foot_title">中国领先的自由行服务平台</li>
                    <li><a href="">覆盖全球200多个国家和地区</a></li>
                    <li><a href=""><span>100,000,000</span> 位旅行者</a></li>
                    <li><a href=""><span>920,000</span> 家国际酒店</a></li>
                    <li><a href=""><span>21,000,000</span> 条真实点评</a></li>
                    <li><a href=""><span>382,000,000</span> 次攻略下载</a></li>
                    <li><a href=""><span>中国旅游行业第一部“玩法”</span></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <ul>
                    <li class="foot_title">关于我们</li>
                    <li><a href="">关于蚂蜂窝</a></li>
                    <li><a href="">网络信息侵权通知指引</a></li>
                    <li><a href="">隐私政策 服务协议</a></li>
                    <li><a href="">联系我们</a></li>
                    <li><a href="">网站地图</a></li>
                    <li><a href=""><span>加入蚂蜂窝</span></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <ul>
                    <li class="foot_title">旅行服务</li>
                    <li><a href="">旅游攻略</a><a href="">酒店预订</a></li>
                    <li><a href="">旅游特价</a><a href="">国际租车</a></li>
                    <li><a href="">旅游问答</a><a href="">旅游保险</a></li>
                    <li><a href="">旅游指南</a><a href="">订火车票</a></li>
                    <li><a href="">旅游资讯</a><a href="">APP下载</a></li>
                    <li><a href=""><span>全球供应商入驻</span></a></li>
                </ul>
            </div>
            <div class="foot_qrcode foot_title col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div>
                    <span class="foot_qrcode_weixin"></span>
                    <p>
                        蚂蜂窝自由行<br>
                        订阅号
                    </p>
                </div>
                <div>
                    <span class="foot_qrcode_tejia"></span>
                    <p>
                        蚂蜂窝良品<br>
                        官方服务号
                    </p>
                </div>
            </div>
        </div>
        <div class="foor_social">
            <p>向崇尚自由的加勒比海盗致敬！</p>
            <p>
                <i class="foot_weibo"></i>
                <i class="foot_qq"></i>
                <i class="foot_kj"></i>
            </p>
        </div>
    </div>
</div>
</body>
<script src="__STATIC__/js/jquery-1.12.3.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>