<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="__STATIC__/css/receptioncss/public.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/css/receptioncss/index.css" type="text/css">
</head>
<body>
    <!--导航栏-->
    <div id="nav">
        <div class="nav_box container">
            <div class="row">
                <a class="nav_logo col-lg-2 col-md-2 col-sm-2 col-xs-4" href="#"></a>
                <ul class="nav_list col-lg-8 col-md-8 col-sm-7">
                    <li><a class="nav_index" href="">首页</a></li>
                    <li><a href="{:url('reception/index/viewport')}">目的地</a></li>
                    <li><a href="{:url('reception/travels/travels')}">旅游游记</a></li>
                    <li><a href="">商品活动</a></li>
                    <li><a href="">酒店</a></li>
                    <li><a href="">卖家入驻</a></li>
                </ul>
                <ul class="nav_out col-lg-2 col-md-2 col-sm-3 col-xs-8">
                        <li><a class="nav_qq" href=""></a></li>
                        <li><a class="nav_weixin" href=""></a></li>
                        <li><a class="nav_login" href="{:url('reception/Login/login')}">登录</a></li>
                        <li>
                            <span class="nav_division">|</span>
                        </li>
                        <li><a class="nav_register" href="{:url('reception/Login/register')}">注册</a></li>
                    </ul>
                </div>
            </div>
        </div>
    <!--轮播图-->
    <div id="banner">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="https://p3-q.mafengwo.net/s3/M00/12/1B/wKgIDVo7B_aAOM9_AARCyW7Z6k481.jpeg?imageMogr2%2Finterlace%2F1" alt="First slide">
                </div>
                <div class="item">
                    <img src="https://b2-q.mafengwo.net/s10/M00/AC/98/wKgBZ1o868GAVxZWAAX6nnMkpWo60.jpeg?imageMogr2%2Finterlace%2F1" alt="Second slide">
                </div>
                <div class="item">
                    <img src="https://p3-q.mafengwo.net/s10/M00/33/64/wKgBZ1o489uAdu4IAAg_av9sd0o19.jpeg?imageMogr2%2Finterlace%2F1" alt="Third slide">
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev" role="button">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next" role="button">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <!--搜索框-->
    <div id="search">
        <div class="container">
            <div class="row">
                <div class="search col-xs-12">
                    <div class="search_info">
                        <input type="radio" name="type">全部
                        <input type="radio" name="type">酒店
                        <input type="radio" name="type">目的地
                        <input type="radio" name="type">商品活动
                    </div>
                    <form class="bs-example bs-example-form" role="form">
                        <div class="input-group">
                            <input type="text" class="form-control search_input" placeholder="搜目的地/酒店/商品活动">
					        <span class="input-group-btn">
                                <button class="btn btn-default search_btn" type="button">
                                    <span class="glyphicon glyphicon-search "></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--小屏幕下的导航栏-->
    <div id="nav_small">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <i class="ns_index"></i>
                    <p>首页</p>
                </div>
                <div class="col-xs-4">
                    <i class="ns_place"></i>
                    <p>目的地</p>
                </div>
                <div class="col-xs-4">
                    <i class="ns_travels"></i>
                    <p>旅游游记</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <i class="ns_activity"></i>
                    <p>商品活动</p>
                </div>
                <div class="col-xs-4">
                    <i class="ns_hotel"></i>
                    <p>酒店</p>
                </div>
                <div class="col-xs-4">
                    <i class="ns_settled"></i>
                    <p>卖家入驻</p>
                </div>
            </div>
        </div>
    </div>
    <!--页面主体-->
    <div id="content">
        <div class="container">
            <!--广告栏加爆款热卖-->
            <div class="row">
                <!--广告栏-->
                <div class="container_ad col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="ad_title">广告专栏</div>
                    <a href=""><img class="img-responsive" src="https://n2-q.mafengwo.net/s9/M00/F1/67/wKgBs1bEF1mAJGJDAAol24gLRuI56.jpeg?imageMogr2%2Fthumbnail%2F%21440x270r%2Fgravity%2FCenter%2Fcrop%2F%21440x270%2Fquality%2F90" alt=""></a>
                    <div class="ad_text">
                        <h5>金奈：殖民枪炮与印度神像共舞</h5>
                        <p>浮雕上展示着类似于电灯泡的东西，引发了历史学家的讨论，甚至把古埃及文明跟外星人又一次联系到一起。</p>
                    </div>
                </div>
                <!--爆款热卖-->
                <div class="container_activity col-lg-9 col-md-9 col-sm-9">
                    <div class="row">
                        <div class="activity_title col-xs-12">爆款热卖</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <a href="">
                                <img class="img-responsive" src="https://n2-q.mafengwo.net/s9/M00/F1/67/wKgBs1bEF1mAJGJDAAol24gLRuI56.jpeg?imageMogr2%2Fthumbnail%2F%21440x270r%2Fgravity%2FCenter%2Fcrop%2F%21440x270%2Fquality%2F90" alt="">
                            </a>
                            <div class="activity_name">
                                <p>[北京送签]美国旅游签证（高出签率+拒签退款+春节特价机票套餐+面试培训+陪签+诚信经营+暖心服务）</p>
                                <div>￥<strong>2555</strong>起</div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <a href=""><img class="img-responsive" src="https://n2-q.mafengwo.net/s9/M00/F1/67/wKgBs1bEF1mAJGJDAAol24gLRuI56.jpeg?imageMogr2%2Fthumbnail%2F%21440x270r%2Fgravity%2FCenter%2Fcrop%2F%21440x270%2Fquality%2F90" alt=""></a>
                            <div class="activity_name">
                                <p>[北京送签]美国旅游签证（高出签率+拒签退款+春节特价机票套餐+面试培训+陪签+诚信经营+暖心服务）</p>
                                <div>￥<strong>2555</strong>起</div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <a href=""><img class="img-responsive" src="https://n2-q.mafengwo.net/s9/M00/F1/67/wKgBs1bEF1mAJGJDAAol24gLRuI56.jpeg?imageMogr2%2Fthumbnail%2F%21440x270r%2Fgravity%2FCenter%2Fcrop%2F%21440x270%2Fquality%2F90" alt=""></a>
                            <div class="activity_name">
                                <p>[北京送签]美国旅游签证（高出签率+拒签退款+春节特价机票套餐+面试培训+陪签+诚信经营+暖心服务）</p>
                                <div>￥<strong>2555</strong>起</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!--热门游记-->
            <div class="row">
                <div>
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#travels" data-toggle="tab">热门游记</a>
                        </li>
                        <li>
                            <a href="#newest" data-toggle="tab">最新发表</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <!--游记列表-->
                        <div class="tab-pane fade in active travels_box" id="travels">
                            <div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <img class="img-responsive" style="margin-right: auto;margin-left: auto" src="http://p4-q.mafengwo.net/s10/M00/2D/44/wKgBZ1oBPqeAIE3pAA4mS5AOfto51.jpeg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                             alt="">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="travels_content">
                                            <div class="travels_title">土耳其 | 星月环游记 | 这里有关于色彩的全部浪漫</div>
                                            <p class="travels_body">“瞠目结舌的自然风光，波澜壮阔的传奇历史，热情洋溢的老百姓……这个横跨欧亚古老大陆的国家到处充满了惊喜” 蓝色清真寺，信徒们沐浴在夕阳中显得格外虔诚 普鲁士海峡乘坐游轮的当地游客 ...听说，你的男票拍照，总是巧妙的躲过你美丽的瞬间，没关系。
                                                听说，你因为拍不好女票的美照，默默承受了不少吐槽，没关系。
                                                这个圣诞节，跟着老夫的少女心，拍出属于你的圣诞美片  。

                                                为了满足各位小主们的少女心，老夫跑断了双腿，收集了全深圳最美、最齐全的拍照打卡点。这些点如果你都去过，老夫跪服 ！</p>
                                            <div class="travels_footer">
                                                <span>德国</span>
                                                <span>张三</span>
                                                <span>1751/14</span>
                                                <span>顶</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <img class="img-responsive" style="margin-right: auto;margin-left: auto" src="http://p4-q.mafengwo.net/s10/M00/2D/44/wKgBZ1oBPqeAIE3pAA4mS5AOfto51.jpeg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                             alt="">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="travels_content">
                                            <div class="travels_title">土耳其 | 星月环游记 | 这里有关于色彩的全部浪漫</div>
                                            <p class="travels_body">“瞠目结舌的自然风光，波澜壮阔的传奇历史，热情洋溢的老百姓……这个横跨欧亚古老大陆的国家到处充满了惊喜” 蓝色清真寺，信徒们沐浴在夕阳中显得格外虔诚 普鲁士海峡乘坐游轮的当地游客 ...听说，你的男票拍照，总是巧妙的躲过你美丽的瞬间，没关系。
                                                听说，你因为拍不好女票的美照，默默承受了不少吐槽，没关系。
                                                这个圣诞节，跟着老夫的少女心，拍出属于你的圣诞美片  。

                                                为了满足各位小主们的少女心，老夫跑断了双腿，收集了全深圳最美、最齐全的拍照打卡点。这些点如果你都去过，老夫跪服 ！</p>
                                            <div class="travels_footer">
                                                <span>德国</span>
                                                <span>张三</span>
                                                <span>1751/14</span>
                                                <span>顶</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <img class="img-responsive" style="margin-right: auto;margin-left: auto" src="http://p4-q.mafengwo.net/s10/M00/2D/44/wKgBZ1oBPqeAIE3pAA4mS5AOfto51.jpeg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                             alt="">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="travels_content">
                                            <div class="travels_title">土耳其 | 星月环游记 | 这里有关于色彩的全部浪漫</div>
                                            <p class="travels_body">“瞠目结舌的自然风光，波澜壮阔的传奇历史，热情洋溢的老百姓……这个横跨欧亚古老大陆的国家到处充满了惊喜” 蓝色清真寺，信徒们沐浴在夕阳中显得格外虔诚 普鲁士海峡乘坐游轮的当地游客 ...听说，你的男票拍照，总是巧妙的躲过你美丽的瞬间，没关系。
                                                听说，你因为拍不好女票的美照，默默承受了不少吐槽，没关系。
                                                这个圣诞节，跟着老夫的少女心，拍出属于你的圣诞美片  。

                                                为了满足各位小主们的少女心，老夫跑断了双腿，收集了全深圳最美、最齐全的拍照打卡点。这些点如果你都去过，老夫跪服 ！</p>
                                            <div class="travels_footer">
                                                <span>德国</span>
                                                <span>张三</span>
                                                <span>1751/14</span>
                                                <span>顶</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <img class="img-responsive" style="margin-right: auto;margin-left: auto" src="http://p4-q.mafengwo.net/s10/M00/2D/44/wKgBZ1oBPqeAIE3pAA4mS5AOfto51.jpeg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                             alt="">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="travels_content">
                                            <div class="travels_title">土耳其 | 星月环游记 | 这里有关于色彩的全部浪漫</div>
                                            <p class="travels_body">“瞠目结舌的自然风光，波澜壮阔的传奇历史，热情洋溢的老百姓……这个横跨欧亚古老大陆的国家到处充满了惊喜” 蓝色清真寺，信徒们沐浴在夕阳中显得格外虔诚 普鲁士海峡乘坐游轮的当地游客 ...听说，你的男票拍照，总是巧妙的躲过你美丽的瞬间，没关系。
                                                听说，你因为拍不好女票的美照，默默承受了不少吐槽，没关系。
                                                这个圣诞节，跟着老夫的少女心，拍出属于你的圣诞美片  。

                                                为了满足各位小主们的少女心，老夫跑断了双腿，收集了全深圳最美、最齐全的拍照打卡点。这些点如果你都去过，老夫跪服 ！</p>
                                            <div class="travels_footer">
                                                <span>德国</span>
                                                <span>张三</span>
                                                <span>1751/14</span>
                                                <span>顶</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <img class="img-responsive" style="margin-right: auto;margin-left: auto" src="http://p4-q.mafengwo.net/s10/M00/2D/44/wKgBZ1oBPqeAIE3pAA4mS5AOfto51.jpeg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                             alt="">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="travels_content">
                                            <div class="travels_title">土耳其 | 星月环游记 | 这里有关于色彩的全部浪漫</div>
                                            <p class="travels_body">“瞠目结舌的自然风光，波澜壮阔的传奇历史，热情洋溢的老百姓……这个横跨欧亚古老大陆的国家到处充满了惊喜” 蓝色清真寺，信徒们沐浴在夕阳中显得格外虔诚 普鲁士海峡乘坐游轮的当地游客 ...听说，你的男票拍照，总是巧妙的躲过你美丽的瞬间，没关系。
                                                听说，你因为拍不好女票的美照，默默承受了不少吐槽，没关系。
                                                这个圣诞节，跟着老夫的少女心，拍出属于你的圣诞美片  。

                                                为了满足各位小主们的少女心，老夫跑断了双腿，收集了全深圳最美、最齐全的拍照打卡点。这些点如果你都去过，老夫跪服 ！</p>
                                            <div class="travels_footer">
                                                <span>德国</span>
                                                <span>张三</span>
                                                <span>1751/14</span>
                                                <span>顶</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <nav aria-label="Page navigation" style="text-align: center">
                                    <ul class="pagination">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!--最新游记列表-->
                        <div class="tab-pane fade travels_box" id="newest">
                            <div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <img class="img-responsive" style="margin-right: auto;margin-left: auto" src="http://p4-q.mafengwo.net/s10/M00/2D/44/wKgBZ1oBPqeAIE3pAA4mS5AOfto51.jpeg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                             alt="">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="travels_content">
                                            <div class="travels_title">土耳其 | 星月环游记 | 这里有关于色彩的全部浪漫</div>
                                            <p class="travels_body">“瞠目结舌的自然风光，波澜壮阔的传奇历史，热情洋溢的老百姓……这个横跨欧亚古老大陆的国家到处充满了惊喜” 蓝色清真寺，信徒们沐浴在夕阳中显得格外虔诚 普鲁士海峡乘坐游轮的当地游客 ...听说，你的男票拍照，总是巧妙的躲过你美丽的瞬间，没关系。
                                                听说，你因为拍不好女票的美照，默默承受了不少吐槽，没关系。
                                                这个圣诞节，跟着老夫的少女心，拍出属于你的圣诞美片  。

                                                为了满足各位小主们的少女心，老夫跑断了双腿，收集了全深圳最美、最齐全的拍照打卡点。这些点如果你都去过，老夫跪服 ！</p>
                                            <div class="travels_footer">
                                                <span>德国</span>
                                                <span>张三</span>
                                                <span>1751/14</span>
                                                <span>顶</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <img class="img-responsive" style="margin-right: auto;margin-left: auto" src="http://p4-q.mafengwo.net/s10/M00/2D/44/wKgBZ1oBPqeAIE3pAA4mS5AOfto51.jpeg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                             alt="">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="travels_content">
                                            <div class="travels_title">土耳其 | 星月环游记 | 这里有关于色彩的全部浪漫</div>
                                            <p class="travels_body">“瞠目结舌的自然风光，波澜壮阔的传奇历史，热情洋溢的老百姓……这个横跨欧亚古老大陆的国家到处充满了惊喜” 蓝色清真寺，信徒们沐浴在夕阳中显得格外虔诚 普鲁士海峡乘坐游轮的当地游客 ...听说，你的男票拍照，总是巧妙的躲过你美丽的瞬间，没关系。
                                                听说，你因为拍不好女票的美照，默默承受了不少吐槽，没关系。
                                                这个圣诞节，跟着老夫的少女心，拍出属于你的圣诞美片  。

                                                为了满足各位小主们的少女心，老夫跑断了双腿，收集了全深圳最美、最齐全的拍照打卡点。这些点如果你都去过，老夫跪服 ！</p>
                                            <div class="travels_footer">
                                                <span>德国</span>
                                                <span>张三</span>
                                                <span>1751/14</span>
                                                <span>顶</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <img class="img-responsive" style="margin-right: auto;margin-left: auto" src="http://p4-q.mafengwo.net/s10/M00/2D/44/wKgBZ1oBPqeAIE3pAA4mS5AOfto51.jpeg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                             alt="">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="travels_content">
                                            <div class="travels_title">土耳其 | 星月环游记 | 这里有关于色彩的全部浪漫</div>
                                            <p class="travels_body">“瞠目结舌的自然风光，波澜壮阔的传奇历史，热情洋溢的老百姓……这个横跨欧亚古老大陆的国家到处充满了惊喜” 蓝色清真寺，信徒们沐浴在夕阳中显得格外虔诚 普鲁士海峡乘坐游轮的当地游客 ...听说，你的男票拍照，总是巧妙的躲过你美丽的瞬间，没关系。
                                                听说，你因为拍不好女票的美照，默默承受了不少吐槽，没关系。
                                                这个圣诞节，跟着老夫的少女心，拍出属于你的圣诞美片  。

                                                为了满足各位小主们的少女心，老夫跑断了双腿，收集了全深圳最美、最齐全的拍照打卡点。这些点如果你都去过，老夫跪服 ！</p>
                                            <div class="travels_footer">
                                                <span>德国</span>
                                                <span>张三</span>
                                                <span>1751/14</span>
                                                <span>顶</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <img class="img-responsive" style="margin-right: auto;margin-left: auto" src="http://p4-q.mafengwo.net/s10/M00/2D/44/wKgBZ1oBPqeAIE3pAA4mS5AOfto51.jpeg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                             alt="">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="travels_content">
                                            <div class="travels_title">土耳其 | 星月环游记 | 这里有关于色彩的全部浪漫</div>
                                            <p class="travels_body">“瞠目结舌的自然风光，波澜壮阔的传奇历史，热情洋溢的老百姓……这个横跨欧亚古老大陆的国家到处充满了惊喜” 蓝色清真寺，信徒们沐浴在夕阳中显得格外虔诚 普鲁士海峡乘坐游轮的当地游客 ...听说，你的男票拍照，总是巧妙的躲过你美丽的瞬间，没关系。
                                                听说，你因为拍不好女票的美照，默默承受了不少吐槽，没关系。
                                                这个圣诞节，跟着老夫的少女心，拍出属于你的圣诞美片  。

                                                为了满足各位小主们的少女心，老夫跑断了双腿，收集了全深圳最美、最齐全的拍照打卡点。这些点如果你都去过，老夫跪服 ！</p>
                                            <div class="travels_footer">
                                                <span>德国</span>
                                                <span>张三</span>
                                                <span>1751/14</span>
                                                <span>顶</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <img class="img-responsive" style="margin-right: auto;margin-left: auto" src="http://p4-q.mafengwo.net/s10/M00/2D/44/wKgBZ1oBPqeAIE3pAA4mS5AOfto51.jpeg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                             alt="">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="travels_content">
                                            <div class="travels_title">土耳其 | 星月环游记 | 这里有关于色彩的全部浪漫</div>
                                            <p class="travels_body">“瞠目结舌的自然风光，波澜壮阔的传奇历史，热情洋溢的老百姓……这个横跨欧亚古老大陆的国家到处充满了惊喜” 蓝色清真寺，信徒们沐浴在夕阳中显得格外虔诚 普鲁士海峡乘坐游轮的当地游客 ...听说，你的男票拍照，总是巧妙的躲过你美丽的瞬间，没关系。
                                                听说，你因为拍不好女票的美照，默默承受了不少吐槽，没关系。
                                                这个圣诞节，跟着老夫的少女心，拍出属于你的圣诞美片  。

                                                为了满足各位小主们的少女心，老夫跑断了双腿，收集了全深圳最美、最齐全的拍照打卡点。这些点如果你都去过，老夫跪服 ！</p>
                                            <div class="travels_footer">
                                                <span>德国</span>
                                                <span>张三</span>
                                                <span>1751/14</span>
                                                <span>顶</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <nav aria-label="Page navigation" style="text-align: center">
                                    <ul class="pagination">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--页脚-->
    <div id="footer">
        <div class="footer_box container">
            <div class="foot_list row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 foot_hidden">
                    <ul>
                        <li class="foot_title">中国领先的自由行服务平台</li>
                        <li><a href="">覆盖全球200多个国家和地区</a></li>
                        <li><a href=""><span>100,000,000</span> 位旅行者</a></li>
                        <li><a href=""><span>920,000</span> 家国际酒店</a></li>
                        <li><a href=""><span>21,000,000</span> 条真实点评</a></li>
                        <li><a href=""><span>382,000,000</span> 次攻略下载</a></li>
                        <li><a href=""><span>中国旅游行业第一部“玩法”</span></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <ul>
                        <li class="foot_title">关于我们</li>
                        <li><a href="">关于蚂蜂窝</a></li>
                        <li><a href="">网络信息侵权通知指引</a></li>
                        <li><a href="">隐私政策 服务协议</a></li>
                        <li><a href="">联系我们</a></li>
                        <li><a href="">网站地图</a></li>
                        <li><a href=""><span>加入蚂蜂窝</span></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <ul>
                        <li class="foot_title">旅行服务</li>
                        <li><a href="">旅游攻略</a><a href="">酒店预订</a></li>
                        <li><a href="">旅游特价</a><a href="">国际租车</a></li>
                        <li><a href="">旅游问答</a><a href="">旅游保险</a></li>
                        <li><a href="">旅游指南</a><a href="">订火车票</a></li>
                        <li><a href="">旅游资讯</a><a href="">APP下载</a></li>
                        <li><a href=""><span>全球供应商入驻</span></a></li>
                    </ul>
                </div>
                <div class="foot_qrcode foot_title col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div>
                        <span class="foot_qrcode_weixin"></span>
                        <p>
                            蚂蜂窝自由行<br>
                            订阅号
                        </p>
                    </div>
                    <div>
                        <span class="foot_qrcode_tejia"></span>
                        <p>
                            蚂蜂窝良品<br>
                            官方服务号
                        </p>
                    </div>
                </div>
            </div>
            <div class="foor_social">
                <p>向崇尚自由的加勒比海盗致敬！</p>
                <p>
                    <i class="foot_weibo"></i>
                    <i class="foot_qq"></i>
                    <i class="foot_kj"></i>
                </p>
            </div>
        </div>
    </div>
</body>
<script src="__STATIC__/js/jquery-1.12.3.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>