<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE-edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>景点|旅游平台</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="__STATIC__/css/receptioncss/viewport.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/css/receptioncss/public.css" type="text/css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="viewpos">
    <!-------------------nav-------------------------->
    <!--导航栏-->
    <div id="sell">
        <div id="nav">
            <div class="nav_box container">
                <div class="row">
                    <a class="nav_logo col-lg-2 col-md-2 col-sm-2 col-xs-4" href="#"></a>
                    <ul class="nav_list col-lg-8 col-md-8 col-sm-7">
                        <li><a href="{:url('reception/index/index')}">首页</a></li>
                        <li><a class="nav_index"href="{:url('reception/viewport/viewport')}">目的地</a></li>
                        <li><a  href="{:url('reception/travels/travels')}">旅游游记</a></li>
                        <li><a href="{:url('reception/Goodsactive/goodsActive')}">商品活动</a></li>
                        <li><a href="{:url('reception/Hotel/hotel')}">酒店</a></li>
                        <li><a href="#"  v-on:click="seller">卖家入驻</a></li>
                    </ul>
                    <ul class="nav_out col-lg-2 col-md-2 col-sm-3 col-xs-8" v-if="loginState==0">
                        <li><a class="nav_login" href="{:url('reception/Login/login')}">登录</a></li>
                        <li>
                            <span class="nav_division">|</span>
                        </li>
                        <li><a class="nav_register" href="{:url('reception/Login/register')}">注册</a></li>
                    </ul>
                    <ul class="nav_out col-lg-2 col-md-2 col-sm-3 col-xs-8" v-else-if="loginState==1">
                        <li class="dropdown">
                            <a class="dropdown-toggle user_photo" data-toggle="dropdown" href="#">
                                <img v-bind:src="nowlogin[0]['f_user_img']" alt="">
                                <span>{{nowlogin[0]['f_user_name']}}</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user_money">
                                    金币 <span>{{nowlogin[0]['f_user_money']}}</span>
                                </li>
                                <li>
                                    <a href="{:url('reception/Center/center')}" class="show_center ">
                                        <span class="glyphicon glyphicon-user"></span>
                                        个人中心
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" class="user_out" v-on:click="loginout">
                                        <span class="glyphicon glyphicon-off"></span>
                                        退出
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--小屏幕下的导航栏-->
    <div id="screen">
        <div id="nav_small">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="ns_index" v-on:click="index"></i>
                        <p>首页</p>
                    </div>
                    <div class="col-xs-4">
                        <i class="ns_place"v-on:click="place"></i>
                        <p>目的地</p>
                    </div>
                    <div class="col-xs-4">
                        <i class="ns_travels"v-on:click="travels"></i>
                        <p>旅游游记</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <i class="ns_activity"v-on:click="activity"></i>
                        <p>商品活动</p>
                    </div>
                    <div class="col-xs-4">
                        <i class="ns_hotel"v-on:click="hotel"></i>
                        <p>酒店</p>
                    </div>
                    <div class="col-xs-4">
                        <i class="ns_settled"v-on:click="settled"></i>
                        <p>卖家入驻</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--二级菜单联动-->
    <div id="menu">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{:url('reception/viewport/viewport')}">目的地</a></li>
                <li><a href="{:url('reception/viewport/viewport')}">{{province.f_province_name}}</a></li>
                <li class="active"><a href="{:url('reception/viewport/viewport')}">{{city.f_city_name}}</a></li>
            </ol>
        </div>
    </div>
    <div class="container">
        <p class="area_title districtList">区域列表>></p>
        <!--区列表-->
        <div class="districtList">
            <span v-for="disItem in districtData" class="pos_style" @click="searchView(disItem)">{{disItem.f_district_name}}</span>
        </div>
        <!--对应区域景点列表-->
        <div class="row">
            <view-port url="{:url('reception/viewport/getView')}">
                <!--景点-->
            </view-port>
        </div>
        <!--分页-->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-6 col-md-6 col-sm-4">
                <page>
                    <!--分页-->
                </page>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
    <!--页脚-->
    <div id="footer">
        <div class="footer_box container">
            <div class="foot_list row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 foot_hidden">
                    <ul>
                        <li class="foot_title">中国领先的自由行服务平台</li>
                        <li><a href="">覆盖全球200多个国家和地区</a></li>
                        <li><a href=""><span>100,000,000</span> 位旅行者</a></li>
                        <li><a href=""><span>920,000</span> 家国际酒店</a></li>
                        <li><a href=""><span>21,000,000</span> 条真实点评</a></li>
                        <li><a href=""><span>382,000,000</span> 次攻略下载</a></li>
                        <li><a href=""><span>中国旅游行业第一部“玩法”</span></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <ul>
                        <li class="foot_title">关于我们</li>
                        <li><a href="">关于蚂蜂窝</a></li>
                        <li><a href="">网络信息侵权通知指引</a></li>
                        <li><a href="">隐私政策 服务协议</a></li>
                        <li><a href="">联系我们</a></li>
                        <li><a href="">网站地图</a></li>
                        <li><a href=""><span>加入蚂蜂窝</span></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <ul>
                        <li class="foot_title">旅行服务</li>
                        <li><a href="">旅游攻略</a><a href="">酒店预订</a></li>
                        <li><a href="">旅游特价</a><a href="">国际租车</a></li>
                        <li><a href="">旅游问答</a><a href="">旅游保险</a></li>
                        <li><a href="">旅游指南</a><a href="">订火车票</a></li>
                        <li><a href="">旅游资讯</a><a href="">APP下载</a></li>
                        <li><a href=""><span>全球供应商入驻</span></a></li>
                    </ul>
                </div>
                <div class="foot_qrcode foot_title col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div>
                        <span class="foot_qrcode_weixin"></span>
                        <p>
                            蚂蜂窝自由行<br>
                            订阅号
                        </p>
                    </div>
                    <div>
                        <span class="foot_qrcode_tejia"></span>
                        <p>
                            蚂蜂窝良品<br>
                            官方服务号
                        </p>
                    </div>
                </div>
            </div>
            <div class="foor_social">
                <p>向崇尚自由的加勒比海盗致敬！</p>
                <p>
                    <i class="foot_weibo"></i>
                    <i class="foot_qq"></i>
                    <i class="foot_kj"></i>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var getCookie_url = "{:url('reception/viewport/get_cookie')}";
    var viewport_url = "{:url('reception/viewport/viewport')}";
    var getDistrict_url = "{:url('reception/viewport/getDistrict')}";
    var getView_url = "{:url('reception/viewport/getView')}";
    var setViewId_url = "{:url('reception/viewport/setViewId')}";
    var goViewdetailed_url = "{:url('reception/viewport/viewdetailed')}";
    var error_url = "{:url('reception/viewport/goerror')}";
    var haslike_url = "{:url('reception/viewport/haslike')}";
    var unsetlike_url = "{:url('reception/viewport/unsetlike')}";
    var sell="{:url('reception/Publics/seller')}";
    var loginUrl="{:url('reception/Publics/login')}";
    var loginOutUrl="{:url('reception/Publics/loginOut')}";
    var indexUrl="{:url('reception/index/index')}";
    var placeUrl="{:url('reception/viewport/viewport')}";
    var travelsUrl="{:url('reception/travels/travels')}";
    var activityUrl="{:url('reception/Goodsactive/goodsActive')}";
    var hotelUrl="{:url('reception/Hotel/hotel')}";
</script>
<script src="__STATIC__/js/receptionjs/public.js"></script>
<script src="__STATIC__/js/receptionjs/viewpos.js"></script>
</html>