<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE-edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>景点详情|旅游平台</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="__STATIC__/css/receptioncss/viewdetailed.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/css/receptioncss/public.css" type="text/css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<!-------------------nav-------------------------->
<!--导航栏-->
<div id="sell">
    <div id="nav">
        <div class="nav_box container">
            <div class="row">
                <a class="nav_logo col-lg-2 col-md-2 col-sm-2 col-xs-4" href="#"></a>
                <ul class="nav_list col-lg-8 col-md-8 col-sm-7">
                    <li><a href="{:url('reception/index/index')}">首页</a></li>
                    <li><a class="nav_index"href="{:url('reception/viewport/viewport')}">目的地</a></li>
                    <li><a  href="{:url('reception/travels/travels')}">旅游游记</a></li>
                    <li><a href="{:url('reception/Goodsactive/goodsActive')}">商品活动</a></li>
                    <li><a href="{:url('reception/Hotel/hotel')}">酒店</a></li>
                    <li><a href="#"  v-on:click="seller">卖家入驻</a></li>
                </ul>
                <ul class="nav_out col-lg-2 col-md-2 col-sm-3 col-xs-8" v-if="loginState==0">
                    <li><a class="nav_login" href="{:url('reception/Login/login')}">登录</a></li>
                    <li>
                        <span class="nav_division">|</span>
                    </li>
                    <li><a class="nav_register" href="{:url('reception/Login/register')}">注册</a></li>
                </ul>
                <ul class="nav_out col-lg-2 col-md-2 col-sm-3 col-xs-8" v-else-if="loginState==1">
                    <li class="dropdown">
                        <a class="dropdown-toggle user_photo" data-toggle="dropdown" href="#">
                            <img v-bind:src="nowlogin[0]['f_user_img']" alt="">
                            <span>{{nowlogin[0]['f_user_name']}}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user_money">
                                金币 <span>{{nowlogin[0]['f_user_money']}}</span>
                            </li>
                            <li>
                                <a href="{:url('reception/Center/center')}" class="show_center ">
                                    <span class="glyphicon glyphicon-user"></span>
                                    个人中心
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" class="user_out" v-on:click="loginout">
                                    <span class="glyphicon glyphicon-off"></span>
                                    退出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--小屏幕下的导航栏-->
<div id="screen">
    <div id="nav_small">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <i class="ns_index" v-on:click="index"></i>
                    <p>首页</p>
                </div>
                <div class="col-xs-4">
                    <i class="ns_place"v-on:click="place"></i>
                    <p>目的地</p>
                </div>
                <div class="col-xs-4">
                    <i class="ns_travels"v-on:click="travels"></i>
                    <p>旅游游记</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <i class="ns_activity"v-on:click="activity"></i>
                    <p>商品活动</p>
                </div>
                <div class="col-xs-4">
                    <i class="ns_hotel"v-on:click="hotel"></i>
                    <p>酒店</p>
                </div>
                <div class="col-xs-4">
                    <i class="ns_settled"v-on:click="settled"></i>
                    <p>卖家入驻</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--content-->
<div class="container" id="view_detail">
    <div class="row detail_blank"></div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <img class="img-responsive detail_img" style="margin-right: auto;margin-left: auto" :src="viewDetail.f_science_img"
                 alt="">
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <div class="travels_content">
                <div class="travels_title"><span class="detail_title">{{viewDetail.f_science_name}}</span></div>
                <p class="detail_body">{{viewDetail.f_science_content}}</p>
                <div class="travels_footer">
                    <span class="rec_price col-lg-3 col-md-3" v-if="viewDetail.f_science_states==2">￥{{viewDetail.f_science_aprice}}</span>
                    <span v-if="viewDetail.f_science_states==2" class="rec_aprice col-lg-3 col-md-3">￥{{viewDetail.f_science_price}}</span>
                    <span v-else="viewDetail.f_science_states==1" class="rec_price col-lg-3 col-md-3">￥{{viewDetail.f_science_price}}</span>
					<div class="col-lg-5 col-md-5 text-right" v-if="viewDetail.f_science_states==1">
                        <button class="btn btn-danger detail_btn" @click="putShopCar(viewDetail.f_science_id)">加入购物车</button>
                        <button class="btn btn-danger detail_btn" @click="nowBuy(viewDetail)">立即购买</button>
                    </div>  
					<div class="col-lg-5 col-md-5 text-right" v-else="viewDetail.f_science_states==2">
						<p><strong>剩余数量：</strong><span class="rec_price">{{viewDetail.f_science_num}}</span></p>
                        <button class="btn btn-danger detail_btn" @click="nowGo(viewDetail)">立即抢购</button>
                    </div>
                    <!--<span class="shengyu col-lg-2 col-md-2" v-if="viewDetail.f_science_states==2">剩余：{{viewDetail.f_science_num}}</span>-->

                    <!--<div class="col-lg-5 col-md-5 text-right" v-if="viewDetail.f_science_states==1">-->
                        <!--<button class="btn btn-danger detail_btn" @click="putShopCar(viewDetail.f_science_id)">加入购物车</button>-->
                        <!--<button class="btn btn-danger detail_btn" @click="nowBuy(viewDetail)">立即购买</button>-->
                    <!--</div>-->
                    <!--<div class="col-lg-5 col-md-5 text-right" v-else="viewDetail.f_science_states==2">-->
                        <!--<button class="btn btn-danger detail_btn" @click="panicBuying(viewDetail)">立即抢购</button>-->
                    <!--</div>-->
                    <!--<div class="col-lg-3 col-md-3 text-right"><span class="rec_sale">已售：11</span></div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row detail_blank"></div>
    <div class="row" id="comment">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li id="tab_home" role="presentation" class="active"><a class="tabs_code" href="#home" aria-controls="home" role="tab" data-toggle="tab">景点详情</a></li>
            <li id="tab_profile" role="presentation"><a class="tabs_code" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">景点评价</a></li>
        </ul>
        <!-- Tab panes -->

        <div class="tab-content">

            <!--景点详情-->
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="col-xs-12 detail_blank"></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {volist name="viewDetail" id="viewDetail"}
                        {$viewDetail.f_science_detall}
                    {/volist}
                </div>
            </div>
            <!--景点评价-->
            <div role="tabpanel" class="tab-pane" id="profile">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sty-comment">
                    <span class="sty-comment-num">累计评价:</span>
                </div>
                <div class="comment_box col-lg-12">
                    {volist name="viewComment" id="comment"}
                    <div class="row comment-part">
                        <div class="comment_user col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <img src="{$comment.f_user_img}" alt="">
                            <a href="" class="col-lg-12 col-md-12 col-sm-12">{$comment.f_user_name}</a>
                            <span class="comment_time col-lg-12 col-md-12 col-sm-12">{$comment.f_sc_time}</span>
                        </div>
                        <div class="comment_content col-lg-10 col-md-10 col-sm-9 col-xs-12">
                            <p>
                                {$comment.f_sc_content}
                            </p>
                        </div>
                    </div>
                    {/volist}
                </div>
                <div>{$viewComment->render()}</div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<!--页脚-->
<div id="footer">
    <div class="footer_box container">
        <div class="foot_list row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 foot_hidden">
                <ul>
                    <li class="foot_title">中国领先的自由行服务平台</li>
                    <li><a href="">覆盖全球200多个国家和地区</a></li>
                    <li><a href=""><span>100,000,000</span> 位旅行者</a></li>
                    <li><a href=""><span>920,000</span> 家国际酒店</a></li>
                    <li><a href=""><span>21,000,000</span> 条真实点评</a></li>
                    <li><a href=""><span>382,000,000</span> 次攻略下载</a></li>
                    <li><a href=""><span>中国旅游行业第一部“玩法”</span></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <ul>
                    <li class="foot_title">关于我们</li>
                    <li><a href="">关于蚂蜂窝</a></li>
                    <li><a href="">网络信息侵权通知指引</a></li>
                    <li><a href="">隐私政策 服务协议</a></li>
                    <li><a href="">联系我们</a></li>
                    <li><a href="">网站地图</a></li>
                    <li><a href=""><span>加入蚂蜂窝</span></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <ul>
                    <li class="foot_title">旅行服务</li>
                    <li><a href="">旅游攻略</a><a href="">酒店预订</a></li>
                    <li><a href="">旅游特价</a><a href="">国际租车</a></li>
                    <li><a href="">旅游问答</a><a href="">旅游保险</a></li>
                    <li><a href="">旅游指南</a><a href="">订火车票</a></li>
                    <li><a href="">旅游资讯</a><a href="">APP下载</a></li>
                    <li><a href=""><span>全球供应商入驻</span></a></li>
                </ul>
            </div>
            <div class="foot_qrcode foot_title col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div>
                    <span class="foot_qrcode_weixin"></span>
                    <p>
                        蚂蜂窝自由行<br>
                        订阅号
                    </p>
                </div>
                <div>
                    <span class="foot_qrcode_tejia"></span>
                    <p>
                        蚂蜂窝良品<br>
                        官方服务号
                    </p>
                </div>
            </div>
        </div>
        <div class="foor_social">
            <p>向崇尚自由的加勒比海盗致敬！</p>
            <p>
                <i class="foot_weibo"></i>
                <i class="foot_qq"></i>
                <i class="foot_kj"></i>
            </p>
        </div>
    </div>
</div>
</body>
<script>
    var getViewDetail = "{:url('reception/viewport/getViewDetail')}";
    var error_url = "{:url('reception/viewport/goerror')}";
    var nowBuy_url = "{:url('reception/viewport/nowBuy')}";
    var putShopCar_url = "{:url('reception/viewport/putShopCar')}";
    var center_url = "{:url('reception/center/center')}";
    var sell="{:url('reception/Publics/seller')}";
    var loginUrl="{:url('reception/Publics/login')}";
    var loginOutUrl="{:url('reception/Publics/loginOut')}";
    var indexUrl="{:url('reception/index/index')}";
    var placeUrl="{:url('reception/viewport/viewport')}";
    var travelsUrl="{:url('reception/travels/travels')}";
    var activityUrl="{:url('reception/Goodsactive/goodsActive')}";
    var hotelUrl="{:url('reception/Hotel/hotel')}";
    var centerpayment_url = "{:url('reception/Center/payment')}";
    var nowGo_url = "{:url('reception/Rediscon/nowBuy')}";
    var center_url = "{:url('reception/Center/payment')}";

    var center_url = "{:url('reception/Center/payment')}";
    var nowGo_url = "{:url('reception/Rediscon/nowBuy')}";
</script>
<script src="__STATIC__/js/receptionjs/public.js"></script>
<script src="__STATIC__/js/receptionjs/viewdetail.js"></script>
</html>