<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游记管理</title>
    <link rel="stylesheet" href="__STATIC__/kit_admin/plugins/layui/css/layui.css" media="all">
</head>
<body>
<div class="site-text layui-elem-quote" style="display: flex">
    <input id="travelsSearch" type="text" name="text" placeholder="请输入关键字" class="layui-input" style="width: 200px">
    <button class="layui-btn" id="searchBut">搜索</button>
</div>
<table class="layui-table" lay-data="{ url:'{:url('backstage/Travels/getTravels')}?keyword', page:true, id:'travelsData'}" lay-filter="test" id="test">
    <thead>
    <tr>
        <th lay-data="{field:'f_travel_note_id', width:80, sort: true}">ID</th>
        <th lay-data="{field:'f_travel_note_head', width:200}">游记标题</th>
        <th lay-data="{field:'f_travel_note_place', width:150}">游记地点</th>
        <th lay-data="{field:'f_travel_note_state', width:100,sort: true}">审核状态</th>
        <th lay-data="{field:'f_user_phone', width:120}">发表用户</th>
        <th lay-data="{field:'f_travel_note_time', width:120}">发表时间</th>
        <th lay-data="{field:'f_travel_note_collect', width:100,sort: true}">收藏数</th>
        <th lay-data="{field:'f_travel_note_browse', width:100,sort: true}">浏览数</th>
        <th lay-data="{fixed: 'right', width: 150, align:'center', toolbar: '#barDemo'}">操作</th>
    </tr>
    </thead>
</table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="preview">预览</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">下架</a>
</script>
</body>

<script src="__STATIC__/kit_admin/plugins/layui/layui.js"></script>
<script src="__STATIC__/js/jquery-1.12.3.min.js"></script>
<script>
    var getTravels = "{:url('backstage/Travels/getTravels')}";
    var previewTravels = "{:url('backstage/Travels/previewTravels')}";
    var examineTravels = "{:url('backstage/Travels/examineTravels')}";
</script>
<script src="__STATIC__/js/backstage/travels.js"></script>
</html>