<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>旅游游记</title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="__STATIC__/css/receptioncss/public.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/css/receptioncss/travels.css" type="text/css">

</head>
<body>
<div id="app">
    <!--导航栏-->
    <div id="nav">
        <div class="nav_box container">
            <div class="row">
                <a class="nav_logo col-lg-2 col-md-2 col-sm-2 col-xs-4" href="#"></a>
                <ul class="nav_list col-lg-8 col-md-8 col-sm-7">
                    <li><a href="{:url('reception/index/index')}">首页</a></li>
                    <li><a href="{:url('reception/index/viewport')}">目的地</a></li>
                    <li><a class="nav_index" href="{:url('reception/travels/travels')}">旅游游记</a></li>
                    <li><a href="">商品活动</a></li>
                    <li><a href="{:url('reception/Hotel/hotel')}">酒店</a></li>
                    <li><a href="{:url('reception/merchant/merchant')}">卖家入驻</a></li>
                </ul>
                <ul class="nav_out col-lg-2 col-md-2 col-sm-3 col-xs-8">
                    <li><a class="nav_qq" href=""></a></li>
                    <li><a class="nav_weixin" href=""></a></li>
                    <li><a class="nav_login" href="">登录</a></li>
                    <li>
                        <span class="nav_division">|</span>
                    </li>
                    <li><a class="nav_register" href="">注册</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--小屏幕下的导航栏-->
    <div id="nav_small">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <i class="ns_index"></i>
                    <p>首页</p>
                </div>
                <div class="col-xs-4">
                    <i class="ns_place"></i>
                    <p>目的地</p>
                </div>
                <div class="col-xs-4">
                    <i class="ns_travels"></i>
                    <p>旅游游记</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <i class="ns_activity"></i>
                    <p>商品活动</p>
                </div>
                <div class="col-xs-4">
                    <i class="ns_hotel"></i>
                    <p>酒店</p>
                </div>
                <div class="col-xs-4">
                    <i class="ns_settled"></i>
                    <p>卖家入驻</p>
                </div>
            </div>
        </div>
    </div>
    <!--主题内容-->
    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs nav-stacked">
                        <li role="presentation" class=""><a href="#">海外冬季目的地精选</a></li>
                        <li role="presentation" class=""><a href="#">国内冬季目的地精选</a></li>
                        <li role="presentation" class=""><a href="#">奔向海岛</a></li>
                        <li role="presentation" class=""><a href="#">主题推荐</a></li>
                    </ul>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"style="margin-top: 10px">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <img src="__STATIC__/image/logo_gonglve_v6.png"class="img-responsive">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" >
                            <a style="color: orange;font-size: 16px;text-align: left">蚂蜂窝自由行APP下载</a>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 10px">
                    <a>iphone版</a><span>|</span><a>Android版</a><span>|</span><a>iPad版</a>
                </div>
            </div>
            <!--轮播图-->
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div id="banner">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner "style="text-align: center">
                            <div class="item active">
                                <img src="https://p3-q.mafengwo.net/s1/M00/10/38/wKgIC1pA2Y-AeC97AAUO_G4zAN088.jpeg?imageMogr2%2Finterlace%2F1" alt="First slide" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="https://p2-q.mafengwo.net/s1/M00/B9/6C/wKgIC1o-BzKAbftYAAGpi5kvqgY72.jpeg?imageMogr2%2Finterlace%2F1" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="https://p3-q.mafengwo.net/s10/M00/33/64/wKgBZ1o489uAdu4IAAg_av9sd0o19.jpeg?imageMogr2%2Finterlace%2F1" alt="Third slide" class="img-responsive">
                            </div>
                        </div>
                        <!-- 轮播（Carousel）指标 -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!--中间图片-->
        <div class="row"style="margin-top: 20px">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
                <img src="__STATIC__/image/wKgBZ1o3pSWAAeupAABKsgZewII391.png" class="img-responsive">
            </div>
        </div>
        <!--攻略搜索-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-top: 20px">
            <div class="row"><span style="font-size: 25px;font-weight: 900">热门攻略搜索</span></div>
            <div class="row" style="margin-top: 10px">
                <div class="input-group" >
                    <input type="text" class="form-control" placeholder="请输入目的地" id="place">
                    <span  class="input-group-addon" v-on:click="search">搜索</span>
                </div>
            </div>
            <div class="row" style="margin-top: 10px"><span style="font-size: 25px;font-weight: 900 ;" >热门攻略排行</span></div>
            <div class="row" style="margin-top: 20px"> <span class="rankSpan">1.</span><span class="rankSpanl">上海迪士尼</span></div>
            <div class="row" style="margin-top: 20px"> <span class="rankSpan">2.</span><span class="rankSpanl">故宫</span></div>
            <div class="row" style="margin-top: 20px"> <span class="rankSpan">3.</span><span class="rankSpanl">长城</span></div>
            <div class="row" style="margin-top: 20px"> <span class="rankSpan">4.</span><span class="rankSpanl">香港九龙</span></div>
            <div class="row" style="margin-top: 20px"> <span class="rankSpan">5.</span><span class="rankSpanl">澳门</span></div>
            <div class="row" style="margin-top: 20px"> <span class="rankSpan">6.</span><span class="rankSpanl">鼓浪屿</span></div>
            <div class="row" style="margin-top: 20px"> <span class="rankSpan">7.</span><span class="rankSpanl">三坊七巷</span></div>
            <div class="row" style="margin-top: 20px"> <span class="rankSpan">8.</span><span class="rankSpanl">湄洲岛</span></div>
            <div class="row" style="margin-top: 20px"> <span class="rankSpan">9.</span><span class="rankSpanl">北海道</span></div>
            <div class="row" style="margin-top: 20px"> <span class="rankSpan">10.</span><span class="rankSpanl">罗马斗兽场</span></div>
        </div>
        <!--攻略详情-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12"style="margin-top: 20px">
            <div class="row"><span style="font-size: 25px;font-weight: 900;">推荐攻略</span></div>
            <!--热门游记-->
            <div class="row" >
                <div>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active travels_box" id="newest">
                            <div>
                                {foreach $list as $value}
                                <div class="row" >
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <img class="img-responsive" style="margin-right: auto;margin-left: auto" src="{$value.f_travel_note_img}" alt="">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="travels_content">
                                            <div class="travels_title"><span class="travelSpan">{$value.f_travel_note_head}</span></div>
                                            <p class="travels_body">{$value.f_travel_note_intro}</p>
                                            <div class="travels_footer row">
                                                <span class="col-lg-3 col-md-3 col-sm-3 col-xs-12">地点：{$value.f_travel_note_place}</span>
                                                <span class="col-lg-3 col-md-3 col-sm-3 col-xs-12">发布者：{$value.f_user_name}</span>
                                                <span class="col-lg-3 col-md-3 col-sm-3 col-xs-12">时间：{$value.f_travel_note_time}</span>
                                                <span class="col-lg-3 col-md-3 col-sm-3 col-xs-12">浏览量：{$value.f_travel_note_browse}</span>
                                                <a  v-on:click="travelDetails" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right" travelID="{$value.f_travel_note_id}">阅读全文>></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {/foreach}
                            </div>
                            <div>
                                <nav aria-label="Page navigation" style="text-align: center">
                                    <!--分页-->
                                    {$list->render()}
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--页脚-->
<div id="footer">
    <div class="footer_box container">
        <div class="foot_list row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 foot_hidden">
                <ul>
                    <li class="foot_title">中国领先的自由行服务平台</li>
                    <li><a href="">覆盖全球200多个国家和地区</a></li>
                    <li><a href=""><span>100,000,000</span> 位旅行者</a></li>
                    <li><a href=""><span>920,000</span> 家国际酒店</a></li>
                    <li><a href=""><span>21,000,000</span> 条真实点评</a></li>
                    <li><a href=""><span>382,000,000</span> 次攻略下载</a></li>
                    <li><a href=""><span>中国旅游行业第一部“玩法”</span></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <ul>
                    <li class="foot_title">关于我们</li>
                    <li><a href="">关于蚂蜂窝</a></li>
                    <li><a href="">网络信息侵权通知指引</a></li>
                    <li><a href="">隐私政策 服务协议</a></li>
                    <li><a href="">联系我们</a></li>
                    <li><a href="">网站地图</a></li>
                    <li><a href=""><span>加入蚂蜂窝</span></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <ul>
                    <li class="foot_title">旅行服务</li>
                    <li><a href="">旅游攻略</a><a href="">酒店预订</a></li>
                    <li><a href="">旅游特价</a><a href="">国际租车</a></li>
                    <li><a href="">旅游问答</a><a href="">旅游保险</a></li>
                    <li><a href="">旅游指南</a><a href="">订火车票</a></li>
                    <li><a href="">旅游资讯</a><a href="">APP下载</a></li>
                    <li><a href=""><span>全球供应商入驻</span></a></li>
                </ul>
            </div>
            <div class="foot_qrcode foot_title col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div>
                    <span class="foot_qrcode_weixin"></span>
                    <p>
                        蚂蜂窝自由行<br>
                        订阅号
                    </p>
                </div>
                <div>
                    <span class="foot_qrcode_tejia"></span>
                    <p>
                        蚂蜂窝良品<br>
                        官方服务号
                    </p>
                </div>
            </div>
        </div>
        <div class="foor_social">
            <p>向崇尚自由的加勒比海盗致敬！</p>
            <p>
                <i class="foot_weibo"></i>
                <i class="foot_qq"></i>
                <i class="foot_kj"></i>
            </p>
        </div>
    </div>
</div>
</body>
<!--引用vue.js-->
<script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
<!--引用jq文件-->
<script src="__STATIC__/js/jquery-1.12.3.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--文件路径-->
<script>
    var travelDetail="{:url('reception/Travels/travelDetails')}";
    var travelSearch="{:url('reception/Travels/travelSearch')}";
    var travelAdd="{:url('reception/Travels/travelAdd')}";
</script>
<!--引用js文件-->
<script src="__STATIC__/js/receptionjs/travels.js"></script>
</html>