<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="__STATIC__/css/receptioncss/login.css" >
    <script src="__STATIC__/js/jquery-1.12.3.min.js" type="text/javascript"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
</head>
<body class="backdrop">
    <div class="container" id="login">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4"></div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="login_box">
                    <div class="login_form">
                        <div class="login_in">
                            <input type="text" class="form-control" placeholder="您的手机号" v-model="phone">
                            <input style="margin-top: 20px" type="password" class="form-control" placeholder="您的密码" v-model="pwd">
                            <img class="code1" src="{:captcha_src()}" alt="captcha" onclick="this.src='{:captcha_src()}'" />
                            <div class="input_code">
                                <input class="form-control"  type="text" placeholder="请输入验证码"v-model="code">
                            </div>
                            <span style="float: right;margin-top: 40px;color: #FFA800">忘记密码</span><br>
                            <button style="margin-top: 80px" type="button" class="btn btn-warning btn-group btn-group-justified" v-on:click="login" >登录</button>
                        </div>
                    </div>
                </div>
                <div class="login_third">
                    <div class="login_wai">
                        <p class="third_zi">用合作网站账户直接登录</p>
                        <div class="image-text">
                            <div style="margin-left: 20px;float: left">
                                <img style="width: 40px;height: 40px" src="__STATIC__/image/weibo.png" alt=""><br>
                                <span style="font-size: 12px">新浪微博</span>
                            </div>
                            <div style="margin-left: 20px;float: left">
                                <img style="width: 40px;height: 40px" src="__STATIC__/image/wechat.png" alt=""><br>
                                <span style="font-size: 12px">微信登录</span>
                            </div>
                            <div style="margin-left: 20px;float: left">
                                <img style="width: 40px;height: 40px" src="__STATIC__/image/qq.png" alt=""><br>
                                <span style="font-size: 12px">QQ登录</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="color: white;">
                    还没有账号？
                    <a style="color:#FFA800;" href="{:url('reception/Login/register')}">马上注册</a>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4"></div>
        </div>
    </div>
</body>
<script>
    var logincode = '{:url("reception/Login/logincode")}'
</script>
<script src="__STATIC__/js/login.js" ></script>
</html>